In [1]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

## lower() - Converts strings in the Series/Index to lower case

In [3]:
print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

## upper()	Converts strings in the Series/Index to upper case

In [4]:
print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

## len()	Computes String length()

In [5]:
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

## strip()	Helps strip whitespace(including newline) from each string in the Series/index from both the sides

In [13]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ('\n')
print ("After Stripping:")
print (s.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object


After Stripping:
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

## split(' ')	Splits each string with the given pattern

In [16]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ('\n')
print ("Split Pattern:")
print ('\n')
print (s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object


Split Pattern:


0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

## cat(sep=' ')	Concatenates the series/index elements with given separator.

In [18]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

## get_dummies()	Returns the DataFrame with One-Hot Encoded values.

In [20]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

## contains(pattern)	Returns a Boolean value True for each element if the substring contains in the element, else False.

In [21]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

## replace(a,b)	Replaces the value a with the value b.

In [22]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ('\n')
print ("After replacing @ with $:")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object


After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

## repeat(value)	Repeats each element with specified number of times.

In [23]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object